<!DOCTYPE html>
<html>
<head> <meta charset="UTF-8" /> 
<title>My To-do Application</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<div class="container"> 
    <hr> 
    <div class="row"> 
        <div class="col-md-6 col-md-offset-2"> 
        <h3 class="text-center">List To-do </h3> 
        <hr/>
            {% for task in task %}
             
             <h3>{{ task.title }} </h3> 
             <p>{{ task.content }} </p>
             <a href="{{ path('todo_delete', {'id': task.id }) }}" class="btn btn-danger btn-md">Delete</a>
             <a href="{{ path('todo_update', {'id': task.id }) }}" class="btn btn-success btn-md"> Update task</a> 
             
             {% endfor %} 
             <br/>
             <br/>
             </br>
        <a href="{{ path('todo_create') }}" class="btn btn-primary btn-md"> Create task</a> 
        </div> 
        <hr/>
    </div> 
</div>
</html>












